In [ ]:
import pandas as pd

df_shopping = pd.read_csv("/content/shopping_client.csv")

In [ ]:
df_shopping.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [ ]:
df_shopping.describe(include="all")

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [ ]:
df_shopping.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [ ]:
df_shopping["Review Rating"] = df_shopping.groupby("Category")["Review Rating"].transform(lambda x: x.fillna(x.median()))

In [ ]:
df_shopping.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

#Transformando as colunas em minusculas e tirando os espaos em branco

In [ ]:
df_shopping.columns = df_shopping.columns.str.lower()
df_shopping.columns = df_shopping.columns.str.replace(" ", "_")
df_shopping.rename(columns={"purchase_amount_(usd)":"purchase_amount"}, inplace=True)

In [ ]:
df_shopping.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

#Criando uma coluna de age_group para agrupar os clientes em 4 faixa-etaria

In [ ]:
labels = ["Jovem", "Adulto", "Meia-Idade", "Idoso"]
df_shopping["age_group"] = pd.qcut(df_shopping["age"], q=4, labels=labels)

In [ ]:
df_shopping[["age", "age_group"]].head(10)

   age   age_group
0   55  Meia-Idade
1   19       Jovem
2   50  Meia-Idade
3   21       Jovem
4   45  Meia-Idade
5   46  Meia-Idade
6   63       Idoso
7   27       Jovem
8   26       Jovem
9   57  Meia-Idade

#Criando uma coluna de purchase_frequency_days para saber a frequencia que o cliente compra (semanal, mensal, bimestral ...)

In [ ]:
frequency_mapping = {
    'Weekly': 7,
    'Biweekly': 14,
    'Fortnightly': 14,
    'Monthly': 30,
    'Quaterly': 90,
    'Every 3 months': 90,
    "Annually": 365
}

df_shopping['purchase_frequency_days'] = df_shopping['frequency_of_purchases'].map(frequency_mapping).fillna(0).astype(int)

In [ ]:
df_shopping[['purchase_frequency_days', 'frequency_of_purchases']].head(20)

    purchase_frequency_days frequency_of_purchases
0                        14            Fortnightly
1                        14            Fortnightly
2                         7                 Weekly
3                         7                 Weekly
4                       365               Annually
5                         7                 Weekly
6                         0              Quarterly
7                         7                 Weekly
8                       365               Annually
9                         0              Quarterly
10                        0              Bi-Weekly
11                       14            Fortnightly
12                       14            Fortnightly
13                        7                 Weekly
14                        7                 Weekly
15                       30                Monthly
16                        0              Bi-Weekly
17                        0              Quarterly
18                        7                 Weekly
19                        0              Bi-Weekly

In [ ]:
df_shopping[["discount_applied", "promo_code_used"]]

     discount_applied promo_code_used
0                 Yes             Yes
1                 Yes             Yes
2                 Yes             Yes
3                 Yes             Yes
4                 Yes             Yes
...               ...             ...
3895               No              No
3896               No              No
3897               No              No
3898               No              No
3899               No              No

[3900 rows x 2 columns]

In [ ]:
df_shopping = df_shopping.drop('promo_code_used', axis=1)

In [ ]:
df_shopping.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

#Agora vamos traduzir todos os dados de maneira adequada

In [ ]:
colunas = [
    'customer_id', 'age', 'gender', 'item_purchased', 'category',
    'purchase_amount', 'location', 'size', 'color', 'season',
    'review_rating', 'subscription_status', 'shipping_type',
    'discount_applied', 'previous_purchases', 'payment_method',
    'frequency_of_purchases', 'age_group', 'purchase_frequency_days'
]

for coluna in colunas:
    print(f"Coluna: {coluna}")
    print(df_shopping[coluna].dropna().unique())
    print("-" * 40)

Coluna: customer_id
[   1    2    3 ... 3898 3899 3900]
----------------------------------------
Coluna: age
[55 19 50 21 45 46 63 27 26 57 53 30 61 65 64 25 52 66 31 56 18 38 54 33
 36 35 29 70 69 67 20 39 42 68 49 59 47 40 41 48 22 24 44 37 58 32 62 51
 28 43 34 23 60]
----------------------------------------
Coluna: gender
['Male' 'Female']
----------------------------------------
Coluna: item_purchased
['Blouse' 'Sweater' 'Jeans' 'Sandals' 'Sneakers' 'Shirt' 'Shorts' 'Coat'
 'Handbag' 'Shoes' 'Dress' 'Skirt' 'Sunglasses' 'Pants' 'Jacket' 'Hoodie'
 'Jewelry' 'T-shirt' 'Scarf' 'Hat' 'Socks' 'Backpack' 'Belt' 'Boots'
 'Gloves']
----------------------------------------
Coluna: category
['Clothing' 'Footwear' 'Outerwear' 'Accessories']
----------------------------------------
Coluna: purchase_amount
[ 53  64  73  90  49  20  85  34  97  31  68  72  51  81  36  38  48  62
  37  88  22  25  56  94  79  67  91  33  69  45  60  76  39 100  21  43
  54  55  30  28  59  24  83  46  70  29  26  58  96  40  32  95  41  47
  99  87  92  98  89  35  75  65  86  84  77  27  23  74  80  42  61  82
  78  93  50  57  66  44  52  71  63]
----------------------------------------
Coluna: location
['Kentucky' 'Maine' 'Massachusetts' 'Rhode Island' 'Oregon' 'Wyoming'
 'Montana' 'Louisiana' 'West Virginia' 'Missouri' 'Arkansas' 'Hawaii'
 'Delaware' 'New Hampshire' 'New York' 'Alabama' 'Mississippi'
 'North Carolina' 'California' 'Oklahoma' 'Florida' 'Texas' 'Nevada'
 'Kansas' 'Colorado' 'North Dakota' 'Illinois' 'Indiana' 'Arizona'
 'Alaska' 'Tennessee' 'Ohio' 'New Jersey' 'Maryland' 'Vermont'
 'New Mexico' 'South Carolina' 'Idaho' 'Pennsylvania' 'Connecticut' 'Utah'
 'Virginia' 'Georgia' 'Nebraska' 'Iowa' 'South Dakota' 'Minnesota'
 'Washington' 'Wisconsin' 'Michigan']
----------------------------------------
Coluna: size
['L' 'S' 'M' 'XL']
----------------------------------------
Coluna: color
['Gray' 'Maroon' 'Turquoise' 'White' 'Charcoal' 'Silver' 'Pink' 'Purple'
 'Olive' 'Gold' 'Violet' 'Teal' 'Lavender' 'Black' 'Green' 'Peach' 'Red'
 'Cyan' 'Brown' 'Beige' 'Orange' 'Indigo' 'Yellow' 'Magenta' 'Blue']
----------------------------------------
Coluna: season
['Winter' 'Spring' 'Summer' 'Fall']
----------------------------------------
Coluna: review_rating
[3.1 3.5 2.7 2.9 3.2 2.6 4.8 4.1 4.9 4.5 4.7 2.8 4.6 3.3 4.4 3.6 5.  4.
 3.7 4.2 3.9 3.  3.8 3.4 4.3 2.5]
----------------------------------------
Coluna: subscription_status
['Yes' 'No']
----------------------------------------
Coluna: shipping_type
['Express' 'Free Shipping' 'Next Day Air' 'Standard' '2-Day Shipping'
 'Store Pickup']
----------------------------------------
Coluna: discount_applied
['Yes' 'No']
----------------------------------------
Coluna: previous_purchases
[14  2 23 49 31 19  8  4 26 10 37 34 44 36 17 46 50 22 32 40 16 13  7 41
 45 38 48 18 15 25 39 35 29 21 43  3  5 24 42 47 28 20 33  1  9 12 27 11
 30  6]
----------------------------------------
Coluna: payment_method
['Venmo' 'Cash' 'Credit Card' 'PayPal' 'Bank Transfer' 'Debit Card']
----------------------------------------
Coluna: frequency_of_purchases
['Fortnightly' 'Weekly' 'Annually' 'Quarterly' 'Bi-Weekly' 'Monthly'
 'Every 3 Months']
----------------------------------------
Coluna: age_group
['Meia-Idade', 'Jovem', 'Idoso', 'Adulto']
Categories (4, object): ['Jovem' < 'Adulto' < 'Meia-Idade' < 'Idoso']
----------------------------------------
Coluna: purchase_frequency_days
[ 14   7 365   0  30]
----------------------------------------

In [ ]:
traducao = {
    'gender': {
        'Male': 'Masculino',
        'Female': 'Feminino'
    },
    'item_purchased': {
        'Blouse': 'Blusa',
        'Sweater': 'Suter',
        'Jeans': 'Jeans',
        'Sandals': 'Sandlias',
        'Sneakers': 'Tnis',
        'Shirt': 'Camisa',
        'Shorts': 'Bermuda',
        'Coat': 'Casaco',
        'Handbag': 'Bolsa',
        'Shoes': 'Sapatos',
        'Dress': 'Vestido',
        'Skirt': 'Saia',
        'Sunglasses': 'culos de Sol',
        'Pants': 'Calas',
        'Jacket': 'Jaqueta',
        'Hoodie': 'Moletom',
        'Jewelry': 'Joias',
        'T-shirt': 'Camiseta',
        'Scarf': 'Cachecol',
        'Hat': 'Chapu',
        'Socks': 'Meias',
        'Backpack': 'Mochila',
        'Belt': 'Cinto',
        'Boots': 'Botas',
        'Gloves': 'Luvas'
    },
    'category': {
        'Clothing': 'Roupas',
        'Footwear': 'Calados',
        'Outerwear': 'Vesturio Externo',
        'Accessories': 'Acessrios'
    },
    'size': {
        'S': 'P',
        'M': 'M',
        'L': 'G',
        'XL': 'XG'
    },
    'color': {
        'Gray': 'Cinza',
        'Maroon': 'Vermelho Escuro',
        'Turquoise': 'Turquesa',
        'White': 'Branco',
        'Charcoal': 'Carvo',
        'Silver': 'Prata',
        'Pink': 'Rosa',
        'Purple': 'Roxo',
        'Olive': 'Oliva',
        'Gold': 'Ouro',
        'Violet': 'Violeta',
        'Teal': 'Verde Azulado',
        'Lavender': 'Lavanda',
        'Black': 'Preto',
        'Green': 'Verde',
        'Peach': 'Pssego',
        'Red': 'Vermelho',
        'Cyan': 'Ciano',
        'Brown': 'Marrom',
        'Beige': 'Bege',
        'Orange': 'Laranja',
        'Indigo': 'ndigo',
        'Yellow': 'Amarelo',
        'Magenta': 'Magenta',
        'Blue': 'Azul'
    },
    'season': {
        'Winter': 'Inverno',
        'Spring': 'Primavera',
        'Summer': 'Vero',
        'Fall': 'Outono'
    },
    'subscription_status': {
        'Yes': 'Sim',
        'No': 'No'
    },
    'shipping_type': {
        'Express': 'Expresso',
        'Free Shipping': 'Frete Grtis',
        'Next Day Air': 'Entrega no Prximo Dia',
        'Standard': 'Padro',
        '2-Day Shipping': 'Entrega em 2 Dias',
        'Store Pickup': 'Retirada na Loja'
    },
    'discount_applied': {
        'Yes': 'Sim',
        'No': 'No'
    },
    'payment_method': {
        'Venmo': 'Venmo',
        'Cash': 'Dinheiro',
        'Credit Card': 'Carto de Crdito',
        'PayPal': 'PayPal',
        'Bank Transfer': 'Transferncia Bancria',
        'Debit Card': 'Carto de Dbito'
    },
    'frequency_of_purchases': {
        'Fortnightly': 'Quinzenal',
        'Weekly': 'Semanal',
        'Annually': 'Anual',
        'Quarterly': 'Trimestral',
        'Bi-Weekly': 'Quinzenal',
        'Monthly': 'Mensal',
        'Every 3 Months': 'A Cada 3 Meses'
    }
}

for coluna, mapa in traducao.items():
    if coluna in df_shopping.columns:
        df_shopping[coluna] = df_shopping[coluna].map(mapa)

df_shopping.to_csv("shopping_client.csv", index=False)

In [ ]:
colunas_traduzidas = {
    'customer_id': 'id_cliente',
    'age': 'idade',
    'gender': 'genero',
    'item_purchased': 'item_comprado',
    'category': 'categoria',
    'purchase_amount': 'valor_compra',
    'location': 'localizacao',
    'size': 'tamanho',
    'color': 'cor',
    'season': 'estacao',
    'review_rating': 'avaliacao',
    'subscription_status': 'assinatura',
    'shipping_type': 'tipo_envio',
    'discount_applied': 'desconto_aplicado',
    'previous_purchases': 'compras_anteriores',
    'payment_method': 'metodo_pagamento',
    'frequency_of_purchases': 'frequencia_compras',
    'age_group': 'faixa_etaria',
    'purchase_frequency_days': 'frequencia_dias_compra'
}

df_shopping.rename(columns=colunas_traduzidas, inplace=True)

df_shopping.to_csv("shopping_cliente.csv", index=False)

In [ ]:
input_path = "/content/shopping_cliente.csv"
output_path = "shopping_cliente.csv"

try:
    df_shopping = pd.read_csv(input_path, encoding="utf-8")
except Exception:
    try:
        df_shopping = pd.read_csv(input_path, encoding="latin1")
    except Exception as e:
        print("Erro ao ler com utf-8 e latin1:", e)
        df_shopping = pd.read_csv(input_path, encoding="utf-8", errors="replace")

df_shopping.to_csv(output_path, index=False, encoding="utf-8-sig")
print("Arquivo salvo como", output_path)

Arquivo salvo como shopping_cliente.csv